[submodule "snarkOS"]
	path = snarkOS
	url = https://github.com/AleoNet/snarkOS.git
	branch = staging
[submodule "leo"]
	path = leo
	url = https://github.com/ProvableHQ/leo
	branch = mainnet
[submodule "aleo-setup"]
	path = aleo-setup
	url = https://github.com/AleoNet/aleo-setup
	branch = master
[submodule "snarkVM"]
	path = snarkVM
	url = https://github.com/AleoNet/snarkVM.git
	branch = staging
[submodule "sdk"]
	path = sdk
	url = https://github.com/ProvableHQ/sdk.git
	branch = testnet3
